<div class="container">
    <div class=" row" >
        <div class="col-2 "></div>
        <div class="col-8">
            <div class="card border-primary text-center ">
                <div class="card-header">Equipo</div>
                <div class="card-body">

                  <form  autocomplete="off"
                         [formGroup]="myForm"
                         (ngSubmit)="onConfirm()"
                         class="form-inline">


                    <div class="row mt-3">
                      <div class="col-2">
                        <span class="label-input100">Nombre</span>
                      </div>
                      <div class="col-6">
                        <input class="form-control"
                               type="text"
                               formControlName="nombre"
                               placeholder="">
                        <span class="focus-input100"></span>
                      </div>
                    </div>

                     
                    <div class="row mt-3">
                      <div class="col-2">
                        <span class="label-input100">IPV4</span>
                      </div>
                      <div class="col-6">
                        <input class="form-control"
                               type="text"
                               formControlName="ipv4"
                               placeholder="">
                        <span class="focus-input100"></span>
                      </div>
                    </div>
                  </form>

                </div>
              </div>
              <div mat-dialog-actions>
                <button mat-button (click)="onNoClick()">Cancelar</button>
                <button mat-button   [disabled]="myForm.invalid" (click)="onConfirm()" cdkFocusInitial>Aceptar</button>
              </div>
        </div>
        <div class="col-2"></div>
    </div>
</div>

